<div class="container border border-black">
  <div class="row">
    <div class="column"><div id="card-container" class="container">
        <!-- Cards will be inserted here dynamically -->
        <div class="card" style="width: 18rem;">
          <img src="" class="card-img-top" alt="..." />
          <div class="card-body">
            <p class="card-text"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>