<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CookBookmark</title>
    <link rel="stylesheet" type="text/css" href="/css/jass.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/gutenberg-css@0.7"
      media="print"
    />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />

  </head>

<body>
  <nav class="navbar navbar-expand-lg no-print">
    <a class="navbar-brand fs-2 position-absolute m-2" href="/">CookBookmark</a>
    <div class="container-fluid col-6">
      <button class="navbar-toggler m-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse rounded-bottom" id="navbarSupportedContent">
        <ul class="navbar-nav align-bottom fs-5 flex-shrink-1" id="button-group">
          {{#if logged_In}}
          <li class="nav-item"><a class="nav-link" id="logout">Logout</a></li>
          <li class="nav-item"><a class="nav-link" id="testrecipebook" href="/recipebook">My
              Recipebook</a></li>
          {{else}}
          <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
          {{/if}}

          <li class="nav-item dropdown"><a class="nav-link dropdown-toggle fs-5 me-3" href="#" role="button"
              data-bs-toggle="dropdown" aria-expanded="false" id="category">
              Search by Category</a>
            {{! Categories that MealsDB supports }}
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Breakfast</a></li>
              <li><a class="dropdown-item" href="#">Starter</a></li>
              <li><a class="dropdown-item" href="#">Side</a></li>
              <li><a class="dropdown-item" href="#">Dessert</a></li>
              <li><a class="dropdown-item" href="#">Vegan</a></li>
              <li><a class="dropdown-item" href="#">Vegetarian</a></li>
              <li><a class="dropdown-item" href="#">Pasta</a></li>
              <li><a class="dropdown-item" href="#">Beef</a></li>
              <li><a class="dropdown-item" href="#">Chicken</a></li>
              <li><a class="dropdown-item" href="#">Lamb</a></li>
              <li><a class="dropdown-item" href="#">Pork</a></li>
              <li><a class="dropdown-item" href="#">Seafood</a></li>
              <li><a class="dropdown-item" href="#">Goat</a></li>
              <li><a class="dropdown-item" href="#">Miscellaneous</a></li>
            </ul>
          </li>

        </ul>
        <button class="btn btn-outline-success search-btn mh-25" type="submit" href="/search"
          id="search-button">Search</button>

      </div>
    </nav>

    <main>
      <div class="content-body">
        {{{body}}}

      </div>
    </main>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="/js/login.js"></script>
    <script src="/js/logout.js"></script>
    <script src="/js/search.js"></script>
  </body>

</html>