<div class="container">
  <div class="row">
    {{#each recipes as |recipe|}}
      <div class="col-md-4">
        <div class="card">
          <a class="fix-link" href="/recipe/{{idMeal}}">
            <img
              class="card-img-top"
              src="{{strMealThumb}}"
              alt="{{strMeal}}"
            />
            <div class="card-body">
              <h5 class="card-title">{{strMeal}}</h5>
            </div>
          </a>
        </div>
      </div>
    {{/each}}
  </div>
</div>