<!-- This is the main container for displaying random recipes -->
<div class="container border border-black">
  <!-- Heading indicating the purpose of the container -->
  <h2>Random Recipes to check out:</h2>
  <!-- This empty div is where the recipe content will be dynamically added -->
  <div class="row">
    <!-- Recipe content will be inserted here -->
  </div>
</div>

<!-- This script tag references an external JavaScript file for dynamic content -->
<script src="/js/randomRecipes.js"></script>
