<div class="container card-container text-center">
  <h2>Random Recipes</h2>
  <div class="row">
    <!-- Recipe content will be inserted here -->
  </div>
</div>

<!-- This script tag references an external JavaScript file for dynamic content -->
<script src="/js/randomRecipes.js"></script>
