<div class="container pt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <!-- Login Card -->
      <div class="card">
        <div class="card-header">
          Login
        </div>
        <div class="card-body">
          <form class="login-form">
            <!-- Use class="login-form" for the login form -->
            <div class="form-group">
              <label for="email-login">Email</label>
              <input
                type="email"
                class="form-control"
                id="email-login"
                required
              />
            </div>
            <div class="form-group">
              <label for="password-login">Password</label>
              <input
                type="password"
                class="form-control"
                id="password-login"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <!-- Sign Up Card -->
      <div class="card">
        <div class="card-header">
          Sign Up
        </div>
        <div class="card-body">
          <form class="signup-form">
            <!-- Use class="signup-form" for the sign-up form -->
            <div class="form-group">
              <label for="name-signup">Name</label>
              <input
                type="text"
                class="form-control"
                id="name-signup"
                required
              />
            </div>
            <div class="form-group">
              <label for="email-signup">Email</label>
              <input
                type="email"
                class="form-control"
                id="email-signup"
                required
              />
            </div>
            <div class="form-group">
              <label for="password-signup">Password</label>
              <input
                type="password"
                class="form-control"
                id="password-signup"
                required
                placeholder="6-10 characters"
              />
            </div>
            <button type="submit" class="btn btn-success">Sign Up</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>