<section class="login-form">
    <h2>Log In</h2>
    <form class="login">
        <label for="login-username">Username:</label>
        <input type="text" id="login-username" name="login-username">
        <label for="login-password">Password: </label>
        <input type="password" id="login-password" name="login-password">
        <button type="submit" id="login-button">Log In</button>
    </form>
</section>