{{!-- Takes a recipe object from MealsDB --}}
<h2>{{strMeal}}</h2>
<img src="{{strMealThumb}}">
<button class="button">Save or Delete</button>
<section class="recipe-ingredients">
    <p>Placeholder -- just show one ingredient for now</p>
    {{strIngredient1}}
    
</section>
<section class="recipe-instructions">
<p>{{strInstructions}}</p>

</section>
