<form>
  <label for="category">Pick a category:</label>
  <select name="category" id="category">
      <option value="seafood">Seafood</option>
      <option value="vegan">Vegan</option>
      <option value="dessert">Dessert</option>
      <option value="breakfast">Breakfast</option>
  </select>
</form>
<script src="/js/search.js"></script>