<section class="signup-form">
    <!-- Start of the signup form section -->
    <h2>Sign Up</h2>
    <!-- Heading for the sign-up form -->
    <form class="signup">
        <!-- Start of the sign-up form -->
        <label for="signup-email">Email:</label>
        <!-- Label for the email input -->
        <input type="email" id="signup-email" name="signup-email">
        <!-- Email input field with id and name attributes -->
        
        <label for="signup-username">Username:</label>
        <!-- Label for the username input -->
        <input type="text" id="signup-username" name="signup-username">
        <!-- Username input field with id and name attributes -->
        
        <label for="signup-password">Password: </label>
        <!-- Label for the password input -->
        <input type="password" id="signup-password" name="signup-password" placeholder="6-10 characters">
        <!-- Password input field with id, name, and placeholder attributes -->
        
        <button type="submit" id="signup-button">Sign Up</button>
        <!-- Submit button to initiate the sign-up process -->
    </form>
    <!-- End of the sign-up form -->
</section>
<!-- End of the signup form section -->
