{{!-- this was reproduced in login.handlebars --}}

{{!-- <section class="signup-form">
    <h2>Sign Up</h2>
    <form class="signup">
        <label for="signup-email">Email:</label>
        <input type="email" id="signup-email" name="signup-email">
        <label for="signup-username">Username:</label>
        <input type="text" id="signup-username" name="signup-username">
        <label for="signup-password">Password: </label>
        <input type="password" id="signup-password" name="signup-password" placeholder="6-10 characters">
        <button type="submit" id="signup-button">Sign Up</button>
    </form>
</section> --}}