name: Lint & Format

on: 
pull_request:
  branches: 
    - "*"

jobs: 
  lint: 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with: 
          ref: ${{ github.head_ref }}

      - name: Setup Node
        uses: actions/setup-node@v3

      - name: Install Deps
        uses: npm install

      - name: Run Lint
        run:  npm run lint

